# Rust
/target
**/*.rs.bk
Cargo.lock.bak

# Node
node_modules
dist
dist-ssr
.vite
.svelte-kit

# Tauri build artefacts
/crates/app/gen
/crates/app/target

# Editor / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.recommended.json

# Local env
.env
.env.local
*.log
